In [1]:
import pandas as pd

In [2]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

# lifelog 데이터와 sleep 데이터를 먼저 병합 진행
- 이유: user 데이터는 lifelog 데이터와 sleep 데이터에 모두 붙어야 되기 때문

In [2]:
lifelog_df = pd.read_csv('./2018-2019 data/2018-2019_lifelog.csv')
lifelog_df

,userId,date,action_personal_care,action_sleep,action_work,action_study,action_household,action_recreation_media,action_entertainment,action_outdoor_act,...,activity_0,activity_1,activity_2,activity_3,activity_4,activity_5,activity_6,activity_7,activity_8,action_communitiy_interaction
0,user1,2018-11-15,0,0,0,365,0,0,0,0,...,2,1,44,592,12,0,0,0,0,NaN
1,user1,2018-11-16,0,65,0,529,0,0,0,0,...,11,1,60,748,13,0,0,0,0,NaN
2,user1,2018-11-17,19,35,0,118,22,0,0,0,...,1,0,14,594,18,0,0,0,0,NaN
3,user1,2018-11-18,58,134,0,279,21,0,0,0,...,0,1,36,673,19,0,0,0,0,NaN
4,user1,2018-11-19,0,58,121,353,0,0,0,0,...,13,2,88,638,20,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,user9,2018-11-09,32,0,243,0,24,0,0,5,...,45,5,62,451,47,0,0,0,0,NaN
711,user9,2018-11-10,71,0,0,0,368,0,0,0,...,0,0,49,579,123,0,0,0,0,NaN
712,user9,2018-11-11,104,0,0,40,123,0,0,117,...,18,3,39,628,42,0,0,0,0,32.0
713,user9,2018-11-12,64,0,325,0,62,0,0,0,...,40,5,41,505,36,0,0,0,0,NaN
714,user9,2018-11-13,59,0,260,0,88,0,0,0,...,28,2,51,560,26,0,0,0,0,NaN

In [3]:
survey_sleep_df = pd.read_csv('./2018-2019 data/2018-2019_survey_sleep.csv')
survey_sleep_df

,userId,date,sleep,sleepProblem,dream,amCondition,amEmotion,pmEmotion,pmStress,ifUnusual,...,"('Pre_sleep_score',)","('Pre_total_sleep_time',)","('Pre_time_in_bed',)","('Pre_waso',)","('Pre_wakeupcount',)","('Pre_aal',)","('Pre_movement_index',)","('Pre_fragmentation_index',)","('Pre_sleep_frag_index',)","('Pre_date',)"
0,user1,2018-11-15,3.0,0.0,4.0,2.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-14
1,user1,2018-11-16,4.0,0.0,4.0,2.0,2.0,3.0,1.0,2.0,...,91.440081,27240.0,29790.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-15
2,user1,2018-11-17,3.0,3.0,2.0,4.0,5.0,5.0,4.0,2.0,...,90.800478,22800.0,25110.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-16
3,user1,2018-11-18,3.0,0.0,4.0,3.0,4.0,3.0,2.0,2.0,...,91.984231,21000.0,22830.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-17
4,user1,2018-11-19,4.0,6.0,4.0,2.0,2.0,4.0,2.0,2.0,...,88.482385,19590.0,22140.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,user9,2018-11-09,3.0,0.0,4.0,3.0,3.0,4.0,4.0,2.0,...,90.512541,24900.0,27510.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-08
970,user9,2018-11-10,3.0,0.0,4.0,2.0,3.0,4.0,4.0,2.0,...,89.662677,24720.0,27570.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-09
971,user9,2018-11-11,4.0,4.0,4.0,3.0,3.0,4.0,4.0,2.0,...,90.070368,34560.0,38370.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-10
972,user9,2018-11-12,3.0,0.0,2.0,3.0,3.0,3.0,3.0,2.0,...,87.569989,23460.0,26790.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-11
973,user9,2018-11-13,2.0,0.0,4.0,2.0,3.0,3.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
lifelog_survey_sleep_df=lifelog_df.merge(survey_sleep_df, how = 'outer', on=['userId','date'])
lifelog_survey_sleep_df

,userId,date,action_personal_care,action_sleep,action_work,action_study,action_household,action_recreation_media,action_entertainment,action_outdoor_act,...,"('Pre_sleep_score',)","('Pre_total_sleep_time',)","('Pre_time_in_bed',)","('Pre_waso',)","('Pre_wakeupcount',)","('Pre_aal',)","('Pre_movement_index',)","('Pre_fragmentation_index',)","('Pre_sleep_frag_index',)","('Pre_date',)"
0,user1,2018-11-15,0.0,0.0,0.0,365.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-14
1,user1,2018-11-16,0.0,65.0,0.0,529.0,0.0,0.0,0.0,0.0,...,91.440081,27240.0,29790.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-15
2,user1,2018-11-17,19.0,35.0,0.0,118.0,22.0,0.0,0.0,0.0,...,90.800478,22800.0,25110.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-16
3,user1,2018-11-18,58.0,134.0,0.0,279.0,21.0,0.0,0.0,0.0,...,91.984231,21000.0,22830.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-17
4,user1,2018-11-19,0.0,58.0,121.0,353.0,0.0,0.0,0.0,0.0,...,88.482385,19590.0,22140.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,user18,2018-11-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.992218,19890.0,23130.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-16
974,user2,2018-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-23
975,user26,2018-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-13
976,user27,2018-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-13
977,user28,2018-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-11

# lifelog_survey_sleep와 user 개인 정보에 대해 병합

In [5]:
info_df = pd.read_csv('./2018-2019 data/user_info_2019_2018_updated.csv')
info_lifelog_survey_sleep_df = info_df.merge(lifelog_survey_sleep_df, how = 'outer', on=['userId'])
info_lifelog_survey_sleep_df=info_lifelog_survey_sleep_df.sort_values(['userId','date'],axis=0).reset_index(drop=True)
info_lifelog_survey_sleep_df

,userId,gender,age,height,weight,startDt_x,endDt_x,date,action_personal_care,action_sleep,...,"('Pre_sleep_score',)","('Pre_total_sleep_time',)","('Pre_time_in_bed',)","('Pre_waso',)","('Pre_wakeupcount',)","('Pre_aal',)","('Pre_movement_index',)","('Pre_fragmentation_index',)","('Pre_sleep_frag_index',)","('Pre_date',)"
0,user1,M,24,NaN,NaN,2018-11-15,2018-11-28,2018-11-15,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-14
1,user1,M,24,NaN,NaN,2018-11-15,2018-11-28,2018-11-16,0.0,65.0,...,91.440081,27240.0,29790.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-15
2,user1,M,24,NaN,NaN,2018-11-15,2018-11-28,2018-11-17,19.0,35.0,...,90.800478,22800.0,25110.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-16
3,user1,M,24,NaN,NaN,2018-11-15,2018-11-28,2018-11-18,58.0,134.0,...,91.984231,21000.0,22830.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-17
4,user1,M,24,NaN,NaN,2018-11-15,2018-11-28,2018-11-19,0.0,58.0,...,88.482385,19590.0,22140.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,user9,F,42,NaN,NaN,2018-10-31,2018-11-13,2018-11-09,32.0,0.0,...,90.512541,24900.0,27510.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-08
974,user9,F,42,NaN,NaN,2018-10-31,2018-11-13,2018-11-10,71.0,0.0,...,89.662677,24720.0,27570.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-09
975,user9,F,42,NaN,NaN,2018-10-31,2018-11-13,2018-11-11,104.0,0.0,...,90.070368,34560.0,38370.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-10
976,user9,F,42,NaN,NaN,2018-10-31,2018-11-13,2018-11-12,64.0,0.0,...,87.569989,23460.0,26790.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-11
977,user9,F,42,NaN,NaN,2018-10-31,2018-11-13,2018-11-13,59.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
info_lifelog_survey_sleep_df.to_csv('./2018-2019 data/2018-2019_all_data.csv',index=False)

In [7]:
len(info_lifelog_survey_sleep_df.keys())

109